.component-button {
  display: inline-flex;
  width: 45px;
  flex: 1 0 auto;
  background-color: #e0e0e0;
  border: 0;
  padding: 3px;
}

.component-button span {
  text-align: center;
  padding: 20px 0;
}

.component-button input {
  height: 50px;
  width: 100px;
  display: block;
  margin : 15px auto;
  padding : 1px;
  font-size: 30px;
  color: purple;
}
